.multiselect {
  width: 14rem;
  display: grid;
  grid-template-columns: auto auto;
}

@media (max-width: 899px) {
  .multiselect {
    width: 80vw;
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

.filter-prefixes {
  max-height: 15rem;
  overflow-y: scroll;
}

.checkbox {
  display: flex;
  align-items: center;
  height: 1.2rem;
  width: 1.2rem;
  border: 0.125rem solid #202020;
  border-radius: 0.2rem;
  background-color: white;
  padding: 0 0.15rem;
  margin: 0 0.5rem 0 0.75rem;
}

.multiselect-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  cursor: pointer;
}
.multiselect-item * {
  cursor: pointer;
}
.multiselect-item:hover {
  background-color: #d8d8d8;
}

.multiselect-item label {
  font-size: 1rem;
}

#reloadFiltersButton {
  width: 100%;
  position: sticky;
  display: none;
  justify-content: center;
  bottom: 0;
}

#reloadFiltersButton > button {
  margin-bottom: 5rem;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  border: 0.3rem solid #202020;
  border-radius: 0.5rem;
  background-color: white;
  color: #202020;
  transition:
    color,
    background-color 150ms ease-in-out;
}

@media (max-width: 899px) {
  #reloadFiltersButton > button {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    margin-bottom: 2.5rem;
  }
}

#reloadFiltersButton > button:hover {
  background-color: #202020;
  color: white;
}

span.period-tag {
  font-size: 1rem;
}
